<%- include("partials/header") %>

<link rel="stylesheet" href="orders.css">


<%- include("partials/navbar") %>

<div class="container border border-dark rounded-lg">
    <table data-toggle="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Phone</th>
            <th>Order Date</th>
            <th>Number of Cookies</th>
            <th>Number of Packets</th>
            <th>Delivery Date</th>
            <th>Show Details</th>
          </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user){  user.orders.forEach(function(order){ %>

      


                <% var numCookies = 0; %>
                   <%  order.packets.forEach((packet) => { numCookies += packet.quantity;}) %>
          
          <tr>
            <td><%= user.firstname %> <%=user.lastname %></td>
            <td><%= user.phone %></td>
            <td><%= order.orderDate %></td>
            <td><%= numCookies %></td>
            <td><%= order.packets.length %></td>
            <td><%= order.deliveryDate %></td>
            <td><a href="/orders/<%= order._id %>/show">SHOW</a></td>
          </tr>
        
          <% });  %>
          <%  }); %>
        </tbody>
      </table>
</div>
<%- include("partials/framejs") %>
<script type="text/javascript" src="navbar.js"></script>
<script type="text/javascript" src="orders.js"></script>

<%- include("partials/footer") %>