<%- include("partials/header") %>

<link rel="stylesheet" href="orders.css">


<%- include("partials/navbar") %>

<% var options = {hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>

<div class="container border border-dark rounded-lg">
    <table data-toggle="table">
        <thead>
          <tr>
            
            <th>Order Date</th>
            <th>Number of Cookies</th>
            <th>Number of Packets</th>
            <th>Delivery Date</th>
            <th>Show Details</th>
          </tr>
        </thead>
        <tbody>
        <% orders.forEach(function(order){ %>

      


                <% var numCookies = 0; %>
                   <%  order.packets.forEach((packet) => { numCookies += packet.quantity;}) %>
          
          <tr>
            
            <td><%=  moment(order.orderDate).tz("America/Merida").format("llll") %></td>
            <td><%= numCookies %></td>
            <td><%= order.packets.length %></td>
            <td><%=  moment(order.deliveryDate).tz("America/Merida").format("llll") %></td>
            <td><a href="/orders/<%= order._id %>/show">SHOW</a></td>
          </tr>
        
          <% });  %>
          
        </tbody>
      </table>
</div>
<%- include("partials/framejs") %>
<script type="text/javascript" src="navbar.js"></script>
<script type="text/javascript" src="orders.js"></script>

<%- include("partials/footer") %>