<%- include("partials/header") %>

<link rel="stylesheet" href="orders.css">


<%- include("partials/navbar") %>
<% data.user.orders.forEach((order) => { %>
    
    <%if (order._id === data.orderID){ %>



<div class="container border border-dark rounded-lg">
    <h2>User: <%= data.user.firstname%> <%= data.user.lastname %></h2>
    <h3>Delivery Date: <%= order.deliveryDate %></h2>
    <% var x = 0; %>
   <% order.packets.forEach((packet) => { %>
    <% x++; %>
    <div class = "container">
        <h5>Packet <%= x %></h5>
        
        <table data-toggle="table">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Cookie</th>
              </tr>
            </thead>
            <tbody>
                <% packet.cookies.forEach((cookie) => { %>
              <tr>
                <td><%= cookie.quantity %></td>
                <td><%= cookie.product.name %></td>
              </tr>
              <%});%>
            </tbody>
    
    </div>

    <%});%>

</div>
<%  }%>
<%}); %>
<%- include("partials/framejs") %>
<script type="text/javascript" src="navbar.js"></script>

<%- include("partials/footer") %>



      </table>