<%- include("partials/header") %>

<link rel="stylesheet" href="/show.css">


<%- include("partials/navbar") %>

<% var options = {hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
<div class="container border border-dark rounded-lg" id="mainDiv">
  <%- include("./partials/messages") %>
  <div class = "row" style="margin-top: 20px">
    <div class="col-md-4">
  <h2><b>Usuario:</b> </h2>
  <h2 class="important"><%= order.user.firstname%> <%= order.user.lastname %></h2>
  </div>
 
  <div class="col-md-4"></div>
    <% if(order.status == "pending"){  %>
  <div class="col-md-2">
    <form action="/orders/<%=order._id%>/status/accepted" method="GET">
    <button class = "btn btn-primary">Aceptar Orden</button>
    </form>
  </div>
  <div class="col-md-2">
    <form  action="/orders/<%=order._id%>/status/rejected" method="GET">
    <button class = "btn btn-danger">Rechazar Orden</button>
    </form>
  </div>
  <% }%>
  <% if(order.status == "rejected"){ %>
    <h5>Orden Rechazada</h5>
  <% }else if (order.status == "accepted"){ %>
    <div>
    <h5>Orden Aceptada</h5>
    <form action="/orders/<%=order._id%>/status/delivered" method="GET">
      <button  class="btn btn-outline-danger">Entregar Orden</button>
    </form>
  </div>
 <% }else if (order.status =="delivered"){ %>
  <h5>Orden Entregada</h5>

 <% } %> 
    


  
</div>
  <h3><b>Fecha de Entrega:</b> </h3>
  <h4 class="important"><%= order.deliveryDate.toLocaleString("en-US", options) %></h4>
  <% var x = 0; var total = 0; %>
    
  <div class="container">
    <% order.packets.forEach((packet) => { %>
      <% var precioPaquete = 0 %>
    <% x++; %>

    <table data-toggle="table">
      <h3 class="moreMargin"><b>Paquete <%= x %></b></h3>
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% packet.cookies.forEach((cookie) => { %>
          <% precioPaquete += cookie.quantity * cookie.product.price %>
        <tr>
          <td><%= cookie.quantity %></td>
          <td><%= cookie.product.name %></td>
          <td><%= cookie.product.price %></td>
          <td><%= cookie.quantity * cookie.product.price %></td>
        </tr>
        <%});%>
      </tbody>
      <% total += precioPaquete; %>
      <h5><b>Precio:   </b><%= precioPaquete %></h5>
    </table>
    <%});%>
    <h1 class= "verticalMargin">Total: <span class= "important"><%= total%> $</span></h1>
    <div class = "container moreMargin">
      <div class = "row" style="margin-top: 20px">
         <div class= "col-md-6">
           <h4><b>Telephono:   </b><%=order.user.phone %></h4>
            <h4><b>Email: </b><%= order.user.email %></h4>
        </div>
        
      </div>
    </div>
  </div>

</div>


<%- include("partials/framejs") %>
<script type="text/javascript" src="navbar.js"></script>
<script type="text/javascript" src="orders.js"></script>

<%- include("partials/footer") %>