<%- include("../partials/header") %>

<link rel="stylesheet" href="/orders.css">


<%- include("../partials/navbarBusiness") %>

<% var options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' , hour: 'numeric', minute: 'numeric' }; %>


<div class="container border border-dark rounded-lg">
    <table data-toggle="table">
        <thead>
          <tr>
            
            <th>Fecha de la Orden</th>
            <th>Numero de Productos</th>
            <th>Numero de Paquetes</th>
            <th>Fecha de Entrega</th>
            <th>Ver Detalles</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
        <% orders.forEach(function(order){ %>
       
          

                <% var numCookies = 0; %>
                   <%  order.packets.forEach((packet) => { numCookies += packet.quantity;}) %>
          
          <tr>
            
            <td><%= moment(order.orderDate).tz("America/Merida").format() %></td>
            <td><%= numCookies %></td>
            <td><%= order.packets.length %></td>
            <td><%= moment(order.deliveryDate).tz("America/Merida").format() %></td>
            <td><a href="/business/orders/<%= order._id %>/show">MOSTRAR</a></td>
            <td><%= order.status %></td>
          </tr>
        
          <% });  %>
          
        </tbody>
      </table>
</div>
<%- include("../partials/framejs") %>


<%- include("../partials/footer") %>