<%- include("../../partials/header") %>

<link rel="stylesheet" href="/new.css">


<%- include("../../partials/navbarBusiness") %>



<div class="container">
     <h1>
	Edit <%= data.product.name  %>
	</h1>
<form action="/business/products/<%= data.product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Escoge una foto</label>
          </div>
        </div>

        
          <div class="form-group  ">
             <label for="FormControlInput1">Nombre del producto</label>
            <input type="text" name="product[name]" class="form-control" id="FormControlInput1" placeholder="" value = "<%= data.product.name %>" required>
          </div>

          <div class="form-group">
            <label for="FormControlTextarea1">Descripcion</label>
            <textarea class="form-control" name="product[description]" id="FormControlTextarea1" rows="3" required><%= data.product.description %></textarea>
          </div>

          <div class="form-group">
             <label for="FormControlInputNumber">Precio del producto</label>
            <input type="number"  name="product[price]"  class="form-control" id="FormControlInputNumber" placeholder="" value = "<%= data.product.price %>" required>
          </div>


          <div class="form-group">
            <label for="exampleFormControlSelect2">Selecciona una categoria</label>
            <select  id ="category" class="form-control chosen-select"  name="product[category]" id="exampleFormControlSelect2" required>
              <%  data.categories.forEach((category) =>  { %>
                <option value= "<%= category.id %>"><%= category.name %></option>
             <% }); %>
            </select>
          </div>

          <div class="form-group form-check">
              <input type="checkbox" name="product[available]" class="form-check-input" id="Check1" 
					<% if(data.product.available){ %>
					 
					checked				 
						 
					<% }%>
					 >
              <label class="form-check-label"     for="Check1">Esta Disponible?</label>
        </div>
	
		 <div class="form-group">
             <button type="submit button"  class="btn btn-warning">EDITAR PRODUCTO</button>
        </div>
		

</form>
</div>   





<%- include("../../partials/framejs") %>
<script type="text/javascript" src="/new.js"></script>

<script>
  var category = "<%- data.product.category %>";

  
      $("#category option[value='" + category + "']").attr("selected", 1);

  $("#category").trigger("chosen:updated");
  
  </script>


<%- include("../../partials/footer") %>